
<div *ngIf="skillQuestion">
    <h2><span>Skill Question</span> {{skillQuestion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Question Skill Question</span></dt>
        <dd>
            <span>{{skillQuestion.questionSkillQuestion}}</span>
        </dd>
        <dt><span>Response Skill Question</span></dt>
        <dd>
            <span>{{skillQuestion.responseSkillQuestion}}</span>
        </dd>
        <dt><span>Question</span></dt>
        <dd>
            <div *ngIf="skillQuestion.question">
                <a [routerLink]="['/skill-test', skillQuestion.question?.id]">{{skillQuestion.question?.id}}</a>
            </div>
        </dd>
        <dt><span>Skill</span></dt>
        <dd>
            <div *ngIf="skillQuestion.skill">
                <a [routerLink]="['/skill', skillQuestion.skill?.id]">{{skillQuestion.skill?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'skill-question/'+ skillQuestion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
